<h1>All Plots</h1>
<% @plots.each do |plot| %>
<section id= "plot-<%=plot.id %>">
<ul>
  <li>Plot number: <%=plot.number %> </li>
  <li>Plot size: <%=plot.size %> </li>
  <li>Plot direction: <%=plot.direction %> </li>
</ul>
<% plot.plants.each do |plant| %>
<ul>
  <li>Plant: <%=plant.name %> </li>
</ul>
<% end %>
<% end %>
</section>
